<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Платежи</title>
</head>
<body>
    <h1>Список платежей</h1>
    <h2>Общее количество купленных билетов: {{ total_tickets }}</h2>
    <form action="{{ url_for('export_to_excel') }}" method="post">
        <button type="submit">Выгрузить данные в Excel</button>
    </form>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Телефон</th>
            <th>Логин</th>
            <th>Время</th>
            <th>Билеты</th>
            <th>Был с нами раньше</th>
            <th>Скриншот</th>
        </tr>
        {% for payment in payments %}
        <tr>
            <td>{{ payment[0] }}</td>
            <td>{{ payment[1] }}</td>
            <td>{{ payment[2] }}</td>
            <td>{{ payment[3] }}</td>
            <td>{{ payment[4] }}</td>
            <td>{{ payment[5] }}</td>
            <td>{{ payment[6]|safe }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('logout') }}">Выйти</a>
</body>
</html>
